
body{
    background-color: black;
    font-family: 'Brush Script MT';
    color: white;
}

h3{

    color:cadetblue;
}
.page-container
{
    margin: -8px;
    padding:0px;
}


.header-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
    flex:1;

    
}




.header-items
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text
{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-top: 5px;
    margin-left:10px;
    padding: 5px;
}

.header-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.header
{

    margin-left: 60px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.highlight-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 26, 54);

}

.highlight-text
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    flex:1;
    text-align: left;
    
    
}

.highlight-image
{
    display: flex;
    flex:1;
    justify-content:flex-start;
}

#highlight-paragraph
{
    margin:0px;
    padding:0px;
    width:300px;
}
img{
    
    width:50px;
    height: auto;
}

#highlighted-img
{
    width: 230px;
    height: auto;
    border: 1px solid cadetblue;
    border-radius: 5%;
}


.newsletter-signup
{
    background-color: cadetblue;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    flex:initial;
    height:20px;
    width: 200px;
    margin: 10px;
}
a:link
{
    text-decoration: none;
    color: white;
}

a:hover{
    color:aqua;
}

ul{
    display: flex;
    gap:30px;
    padding:10px;
    margin-top :10px;
    margin-right: 10px;
    
}


.segment1{
    display: flex;
    flex-direction: column;
    background-color: rgba(9, 31, 65, 0.774);
    align-items: center;
    justify-content: center;
    padding:0px;
}

#segment1-list
{
    list-style-type: none;
    gap:60px;
    /*border: 2px solid green;*/
    background-color: #08101d;
    border-radius: 2%;
    flex:1;
    flex-wrap: wrap;
    padding: 10px;
    margin:5px;
    align-items: center;
    
}

.segment1-info
{
    font-size: 30px;
    color: aqua;
}


.segment1-items
{
    display: flex;
    flex-direction: column;
    
}

.segment1-items-images
{
    display: flex;
    width:100px;
    height:100px;
    border:2px solid rgb(17, 31, 77);
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    padding:0px;
    
    
}


.segment1-images
{
    width:90px;
    height: auto;
    margin:0px;
}

.segment1-items-text
{
    text-align: center;
    overflow-wrap: break-word;
}

.segment2
{
    background-color: #031027;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex:initial;
    height: 150px;
    padding:10px;
}

.segment2-text-container
{   
    width: 600px;
    text-align: justify;
    font-weight: 400;
  
    font-size: 17px;
}

.segment2-quote
{   
    
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    flex:initial;
    width:600px;
    align-items: center;
    justify-content: flex-end;
}


.segment3
{
    display: flex;
    justify-content: center;
    align-items: center;
    height:140px;
    background-color: #020b1a;
}

.note-box
{
    display: flex;
    flex-direction: row;
    background-color: #091b3d;
    width:600px;
    height:100px;
    border-radius: 2%;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.newsletter-text
{
    justify-content: flex-start;
    padding:5px;
    margin-left:40px;
    width: 400px;
    height:80px;
}

.newsletter-header
{
    font-size: 20px;
    text-align: left;
}

.newsletter-info
{
    color:aliceblue;
}

.signup-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid cadetblue;
    border-radius: 9%;
    margin-left: 20px;
    width:80px;
    height: 20px;
}

.signup-text
{
    color: aqua;
}


.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    padding:10px;
}