
body{
    background-color: black;
    font-family: 'Brush Script MT';
    color: white;
}

h3{

    color:cadetblue;
}
.page-container
{
    margin: -8px;
    padding:0px;
}


.header-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
    flex:1;

    
}




.header-items
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text
{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-top: 5px;
    margin-left:10px;
    padding: 5px;
}

.header-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.header
{

    margin-left: 60px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.highlight-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 26, 54);

}

.highlight-text
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    flex:1;
    text-align: left;
    
    
}

.highlight-image
{
    display: flex;
    flex:1;
    justify-content:flex-start;
}

#highlight-paragraph
{
    margin:0px;
    padding:0px;
    width:300px;
}
img{
    
    width:50px;
    height: auto;
}

#highlighted-img
{
    width: 230px;
    height: auto;
    border: 1px solid cadetblue;
    border-radius: 5%;
}


.newsletter-signup
{
    background-color: cadetblue;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    flex:initial;
    height:20px;
    width: 200px;
    margin: 10px;
}
a:link
{
    text-decoration: none;
    color: white;
}

a:hover{
    color:aqua;
}

ul{
    display: flex;
    gap:30px;
    padding:10px;
    margin-top :10px;
    margin-right: 10px;
    
}
